<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.cemantika.modeling.nature.ContextNature"
         name="Context Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.cemantika.modeling.nature.ContextNature">
         </run>
      </runtime>
      <builder
            id="org.cemantika.modeling.cemantikaAuditor">
      </builder>
      <builder
            id="org.drools.eclipse.droolsbuilder">
      </builder>
   </extension>
   <extension
         id="cemantikaAuditor"
         name="Cemantika Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.cemantika.modeling.builder.CemantikaAuditor">
         </run>
         </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/nature/prjcontext.gif"
            id="org.cemantika.modeling.natureImage"
            natureId="org.cemantika.modeling.nature.ContextNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="CSS Category"
            id="org.cemantika.modeling.categories.context"
            name="Context">
      </category>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="org.cemantika.modeling.commands.AddContextNature"
            name="AddContextNature">
      </command>
      <command
            id="org.cemantika.modeling.commands.OpenCemantikaPerspective"
            name="OpenCemantikaPerspective">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.cemantika.modeling.handler.AddContextNature"
            commandId="org.cemantika.modeling.commands.AddContextNature">
      </handler>
      <handler
            class="org.cemantika.modeling.handler.OpenCemantikaPerspective"
            commandId="org.cemantika.modeling.commands.OpenCemantikaPerspective">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.cemantika.modeling.commands.AddContextNature"
               label="Convert to Context Sensitive System Project"
               style="push"
               tooltip="Context Sensitive System">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.cemantika.modeling.toolbars.OpenCemantika">
            <command
                  commandId="org.cemantika.modeling.commands.OpenCemantikaPerspective"
                  icon="icons/cemantika/cemantika_perspective.gif"
                  label="Open Cemantika Perspective"
                  mnemonic="M1+6"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.cemantika.modeling.form.CemantikaForm"
            default="true"
            extensions="cemantika"
            icon="icons/tasks/toolment_obj.gif"
            id="org.cemantika.modeling.editor.CemantikaEditor"
            name="cemantika">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.cemantika.modeling.perspective.CemantikaPerspectiveFactory"
            id="org.cemantika.modeling.perspective.CemantikaPerspectiveFactory"
            name="Cemantika">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="cemantika"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.dynamic_package">
      <profile
            location="platform:/plugin/org.cemantika.modeling/profile/cemantika.profile.uml#_0"
            uri="http://www.eclipse.org/uml2/schemas/Ecore/5">
      </profile>
      <profile
            location="platform:/plugin/org.cemantika.modeling/profile/cemantika_class.profile.uml#_0"
            uri="http://www.eclipse.org/uml2/schemas/Ecore/5">
      </profile>
   </extension>
   <extension
         id="cemantikamarker"
         name="Cemantika Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
